name: restore-alert

on:
  schedule:
    - cron: "0 * * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: npm ci
      - name: start
        run: npm run start
        env: 
          WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}    
